:root{
    --hua: 64deg;
    --saturation: 100%;
    --lightness: 50%;
}

*{
    margin: 0;
    padding: 0;
}


body{
    background-color: dodgerblue;
    font-family: 'Ubuntu', sans-serif;
}


header{
    margin-block: 1.5rem 3rem;
}

header h1{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: .2rem;
}

header a{
    color: white;
    text-decoration: none;
}

header p{
    font-size: 1rem;
    text-align: center;
    color: white;
}

.clock{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
}

.title{
    margin-bottom: 10px;
    text-align: center;
}

.time, .date{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.time p, .date p{
    background-color: white;
    color: hsl(var(--hua) var(--saturation) var(--lightness));
    padding: 4px;
    font-size: 22px;
    font-weight: 500;
    border-radius: 4px;
    text-align: center;
    width: 35px;
    box-shadow: 0 0 12px 0px #00000059;
}

.time .seperator{
    background-color: transparent;
    color: white;
    font-weight: bold;
    width: auto;
}

.time .period{
    margin-left: 5px;
}

.date{
    gap: 13px;
}


.date .year{
    width: calc(35px + 35px);
}

.copyright{
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: .85rem;
    text-align: center;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding-block: 8px;
}
